<button class="btn btn-primary" (click)="onSelectAdd()">
  Ajouter un Beneficiaire
</button>
<div class="add" *ngIf="this.add">
  <div class="wrapper">
    <input
      type="integer"
      class="number-text"
      [(ngModel)]="newPrenom"
      placeholder="Nom"
    />
  </div>

  <div class="wrapper">
    <input
      type="integer"
      class="number-text"
      [(ngModel)]="newNom"
      placeholder="Prenom"
    />
  </div>

  <button class="btn btn-primary" (click)="onClickAddConfirm()">
    Ajouter
  </button>
</div>


<div class="table">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Trier par id"
          class="head"
        >
          ID
        </th>
        <td mat-cell *matCellDef="let element" class="cell">
          {{ element.id }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Nom">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Trier par Nom"
          class="head"
        >
        Nom
        </th>
        <td mat-cell *matCellDef="let element" class="cell">
          {{ element.nom }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Prenom">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Trier par Prénom"
          class="head"
        >
          Prénom
        </th>
        <td mat-cell *matCellDef="let element" class="cell">
          {{ element.prenom }}
        </td>
      </ng-container>

     
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="onClickRow(row)"
        [class.demo-row-is-clicked]="clickedRow === row"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>