<div>
  <h1>Quel table analyser?</h1>
  <mat-radio-group [(ngModel)]="favoriteSeason">
    <mat-radio-button *ngFor="let season of seasons" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div>{{favoriteSeason}}</div>
</div>
<app-benevoles-table *ngIf="favoriteSeason=='Benevoles'"></app-benevoles-table>
<app-aides-table *ngIf="favoriteSeason=='Aides'"></app-aides-table>
<app-valideurs-table *ngIf="favoriteSeason=='Valideurs'"></app-valideurs-table>
<app-beneficiaires-table *ngIf="favoriteSeason=='Beneficiaires'"></app-beneficiaires-table>